<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @student.fullname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Classid:</strong>
  <%= @student.classid %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
