<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @classroom.teacher %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @classroom.grade %>
</p>

<p>
  <strong>Classid:</strong>
  <%= @classroom.classid %>
</p>

<table border="1">
<% @students.each do |student| %>
      <tr>
        <td><%= student.fullname %></td>
        <td><%= student.phone %></td>
      </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
